* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #dfe9f5;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #fff;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  background-color: black;
}

.logo {
  top: 11px;
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  padding: 10px;
  margin-bottom: 10px;
}

#nav-logo {
  height: 3rem;
  margin-left: 22px;
  margin-right: 10px;
}

.logo span {
  margin-top: 0.1rem;
  font-weight: bold;
  font-size: 18px;
}

a {
  position: relative;
  color: #d1ad73;
  font-size: 18px;
  display: table;
  width: 300px;
  padding: 10px;
}

.fa-regular {
  position: relative;
  width: 80px;
  height: 50px;
  top: 14px;
  font-size: 25px;
  text-align: center;
}

.fa-solid {
  position: relative;
  width: 80px;
  height: 50px;
  top: 14px;
  font-size: 25px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 11px;
  margin-left: 10px;
}

a:hover {
  background-color: #d1ad73;
  color: #fff;
  cursor: pointer;
}

nav:hover {
  width: 280px;
  transition: all 0.5s ease;
}

#nav-logout {
  position: absolute;
  bottom: 0;
}

.logo:hover {
  background-color: black;
  color: #d1ad73;
}

#nav-watchhistory {
  background-color: #d1ad73;
  color: #fff;
}

.container {
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container h5 {
  font-size: 30px;
}

.searchdiv {
  display: flex;
  flex-direction: row;
}

input {
  padding: 5px;
  margin-left: 20px;
  font-size: 20px;
  font-family: "Poppins";
}

button {
  background-color: #d1ad73;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
}

h4 {
  margin-top: 50px;
  font-size: 30px;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.rental {
  width: 27%;
  min-width: 300px;
  padding: 10px 12px;
  background-color: white;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 30px;
  transition: 0.2 ease;
}
